# Credit Card Fraud Detection using Logistic Regression

Loading The Train Dataset

In [1]:
import numpy as np
import pandas as pd
train_df=pd.read_csv("D:\Machine Learning\Codsoft Datsets\Credit_Card_Fraud_Detection/fraudTrain.csv")
train_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

Loading The Test Dataset

In [2]:
test_df=pd.read_csv("D:\Machine Learning\Codsoft Datsets\Credit_Card_Fraud_Detection/fraudTest.csv")
test_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [3]:
# training dataset informations
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [4]:
# testing dataset informations
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

Data cleaning

In [5]:
new_train_df=train_df.drop(columns=['Unnamed: 0','trans_date_trans_time','merchant','first','last','street','city','state','job','dob','trans_num'],axis=1)
new_train_df.head()

,cc_num,category,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,2703186189652095,misc_net,4.97,F,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0
1,630423337322,grocery_pos,107.23,F,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0
2,38859492057661,entertainment,220.11,M,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0
3,3534093764340240,gas_transport,45.00,M,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0
4,375534208663984,misc_pos,41.96,M,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0

In [6]:
new_test_df=test_df.drop(columns=['Unnamed: 0','trans_date_trans_time','merchant','first','last','street','city','state','job','dob','trans_num'],axis=1)
new_test_df.head()

,cc_num,category,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,2291163933867244,personal_care,2.86,M,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0
1,3573030041201292,personal_care,29.84,F,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0
2,3598215285024754,health_fitness,41.28,F,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0
3,3591919803438423,misc_pos,60.05,M,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0
4,3526826139003047,travel,3.19,M,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0

In [7]:
# checking the number of missing values in each column
new_train_df.isnull().sum()

cc_num        0
category      0
amt           0
gender        0
zip           0
lat           0
long          0
city_pop      0
unix_time     0
merch_lat     0
merch_long    0
is_fraud      0
dtype: int64

In [8]:
new_test_df.isnull().sum()

cc_num        0
category      0
amt           0
gender        0
zip           0
lat           0
long          0
city_pop      0
unix_time     0
merch_lat     0
merch_long    0
is_fraud      0
dtype: int64

Applying Label Encdoing on Gender and Category to convert categorical feature to numerical feature

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
new_train_df['category']=le.fit_transform(new_train_df['category'])
new_train_df['gender']=le.fit_transform(new_train_df['gender'])
new_train_df.head()

,cc_num,category,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,2703186189652095,8,4.97,0,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0
1,630423337322,4,107.23,0,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0
2,38859492057661,0,220.11,1,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0
3,3534093764340240,2,45.00,1,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0
4,375534208663984,9,41.96,1,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
new_test_df['category']=le.fit_transform(new_test_df['category'])
new_test_df['gender']=le.fit_transform(new_test_df['gender'])
new_test_df.head()

,cc_num,category,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,2291163933867244,10,2.86,1,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0
1,3573030041201292,10,29.84,0,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0
2,3598215285024754,5,41.28,0,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0
3,3591919803438423,9,60.05,1,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0
4,3526826139003047,13,3.19,1,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0

In [11]:
# distribution of legit transactions & fraudulent transactions
new_train_df['is_fraud'].value_counts()

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

Applying Feature Scaling using Standard Scaler

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
new_train_df.iloc[:,0:11]=sc.fit_transform(new_train_df.iloc[:,0:11])
new_train_df.head()

,cc_num,category,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,-0.316692,0.452853,-0.407826,-0.909206,-0.749136,-0.484420,0.657620,-0.282589,-1.858664,-0.494354,0.593864,0
1,-0.318757,-0.569266,0.230039,-0.909206,1.872567,2.039120,-2.033870,-0.293670,-1.858662,2.078699,-2.030341,0
2,-0.318728,-1.591384,0.934149,1.099861,1.281042,0.717754,-1.601537,-0.280406,-1.858662,0.902849,-1.592323,0
3,-0.316058,-1.080325,-0.158132,1.099861,0.402753,1.515617,-1.590766,-0.287742,-1.858660,1.662886,-1.621848,0
4,-0.318471,0.708382,-0.177094,1.099861,-0.906090,-0.023035,0.782279,-0.293835,-1.858651,0.026941,0.841909,0

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
new_test_df.iloc[:,0:11]=sc.fit_transform(new_test_df.iloc[:,0:11])
new_test_df.head()

,cc_num,category,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,-0.317252,0.961683,-0.424463,1.102494,-0.731091,-0.904377,0.677451,0.816521,-1.703871,-0.894145,0.657586,0
1,-0.316273,0.961683,-0.252337,-0.907034,1.309217,0.351182,-1.472454,-0.292685,-1.703869,0.178126,-1.436610,0
2,-0.316254,-0.316151,-0.179353,-0.907034,-1.382695,0.420768,1.216667,-0.178853,-1.703865,0.383257,1.167640,0
3,-0.316259,0.706116,-0.059605,1.102494,-0.598119,-1.970539,0.685934,-0.111371,-1.703861,-1.909485,0.680717,0
4,-0.316308,1.728384,-0.422358,1.102494,0.029394,1.128092,0.380004,-0.289942,-1.703861,1.259139,0.316510,0

Train Test Split Data

In [14]:
X_train=new_train_df.drop(columns='is_fraud',axis=1)
X_test=new_test_df.drop(columns='is_fraud',axis=1)

In [15]:
y_train=new_train_df['is_fraud']
y_test=new_test_df['is_fraud']

LogisticRegression Model Builiding and Training & Testing

In [16]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(max_iter=5000)

In [17]:
# training the Logistic Regression Model with Training Data
model.fit(X_train,y_train)

LogisticRegression(max_iter=5000)

model score

In [18]:
model.score(X_test,y_test)

0.9954869277458571

In [19]:
y_pred=model.predict(X_test)